<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qr Code Gen</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="icon.ico">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.25.0/axios.min.js" integrity="sha512-/Q6t3CASm04EliI1QyIDAA/nDo9R8FQ/BULoUFyN4n/BDdyIxeH7u++Z+eobdmr11gG5D/6nPFyDlnisDwhpYA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <nav class="nav-bar">Wifi QR Code Generator</nav>
    
    <div class="wrapper">
    <form action="/qrcode" method="post" onsubmit="return validateForm()">
        <div class="inside-wrapper">
        <div class="form-name-container">
            <h1 class="form-name">Create Wifi QR Code</h1>   
        </div>
        <div class="container">
            <div id="error" style="display: none; color: rgb(100, 14, 14)">Worked</div>
            <div class="input-element">
                <label>
                    SSID:
                    <input  class= 'input-text' type="text"  name="ssid" id="ssid" >
                </label>
            </div>
            <div class="input-element">
                <label>
                    Encryption
                    <select class= 'input-text' name="encryption" id="selection" >
                        <option value="">----  Encryption type ----</option>
                        <option value="WPA">WPA/WPA2/WPA3</option>
                        <option value="WEP">WEP</option>
                        <option value="None">None</option>
                    </select>
                </label>
            </div>
            <div class="input-element">
                <label>
                    Password:
                    <input class= 'input-text' type="password" name="password" id="password">
                </label>
            </div>
            <div class="input-element input-checkbox">
                <label>
                    Hidden
                    <input  type="checkbox" name="checkbox" value="true"  >
                </label>
            </div>
            <div class="input-element input-button">
                <button type="submit" >Generate</button>
            </div>

            <script >
                const validateForm = () => {
                    var ssid = document.getElementById("ssid").value;
                    var select = document.getElementById("selection").value
                    var password = document.getElementById("password").value
                    if(ssid == ""){
                        document.getElementById("error").style.display = "flex"
                        document.getElementById('error').innerText = 'Please input ssid (wifi password)' ;
                        return (false);
                    }  
                    if(select == ""){
                        document.getElementById("error").style.display = "flex"
                        document.getElementById('error').innerText = 'Please input Encryption Type' ;
                        return (false);
                    }  
                    if(password == ""){
                        document.getElementById("error").style.display = "flex"
                        document.getElementById('error').innerText = 'Please input wifi password' ;
                        return (false);
                    }                 
                }


            </script>
        </div>
        </div>

    </form>
    </div>



</body>
</html>
