<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QrCode</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="icon.ico">
</head>
<body>

   
    <div class="qr-wrap">
    <div class="wifi-image">
        <img src= <%= imgUrl %>  alt="wifiImage" >
        <div class="qr-wrapper">
        <a href="/" class="link"> Generate new QR Code</a>
        </div>
    </div>
    </div>
    
 
</body>
</html>