@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-size: 20px;
}

    /*  QR.ejs*/

.qr-wrap{
    display: flex;
    justify-content: center;
    /* max-width: max-content; */
}

.wifi-image{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* max-width: 650px; */

}

.qr-wrapper{
    display: flex;
    justify-content: center;
    
}


.link{
    text-decoration: none;
    text-align: center;
    width: inherit;
    outline: none;
    border: none;
    padding: 15px 22px;
    position: inherit;
    background-color: rgb(23, 52, 89);
    color: #f8f9f9;
    text-decoration: none;
    max-width: 256px;
}

.image-wrapper{
   display: flex;
   justify-content: center;

}

img{
    width: inherit;
}

            /* Index.ejs */

.form-name-container {
    display: flex;
    justify-content: center;
    position: relative;
    /* max-width: 450px; */
}
.form-name{
    border-style: solid;
    border-color: black;
    border-width: 0px 0px 1px 0px;
    text-align: center;
}

.nav-bar{
    text-align: center;
    font-size: 3em;
    padding: 15px 30px;
    background-color: rgb(23, 52, 89);
    color: #f8f9f9;

}

.input-element{
    margin-bottom: 5px;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

.inside-wrapper{
    margin-left: 10px;
    margin-right: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    margin-left: 26px;
    margin-right: 26px;

}

input{
    outline: none;
    border-style: solid;
    border-color: rgb(23, 52, 89);
    border-width: 0px 0px 1px 0px;

}

.input-text{
    font-size: 16px;
    font-weight: 100;
    direction: ltr;
    margin-left: 5px;
}

label{
    font-size: 20px;
    font-weight: 400;
}

#selection{
    border: none;
    outline: none;
}

.input-button{
    display: flex;
    justify-content: center;
}


button{
    outline: none;
    border: none;
    padding: 15px 30px;
    background-color: rgb(23, 52, 89);
    color: #f8f9f9;

}